/* @font-face {
  font-family: "Outfit";
  src: local("Outfit"),
    url(./fonts/outfit/Outfit-VariableFont_wght.ttf) format("ttf");
}

@font-face {
  font-family: "Young Serif";
  src: local("Young Serif"),
    url(./fonts/young-serif/YoungSerif-Regular.ttf) format("ttf");
} */

.app {
  width: 800px;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-family: "Outfit";
  line-height: 1.5rem;
  background-color: white;
  color: darkslategray;
  border-radius: 2rem;
}

img {
  width: 100%;
  border-radius: 0.5rem;
}

.app-body {
  padding: 50px;
}

.preparation {
  background-color: hsl(330, 100%, 98%);
  padding: 0.5rem;
  padding-left: 3rem;
  border-radius: 1rem;
}

h1 {
  color: black;
  font-family: "Young Serif";
}

hr {
  border: none;
  border-top: 1px dotted;
}

hr.end {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

li::marker {
  color: hsl(14, 45%, 36%);
}

.preparation-details li::marker {
  color: hsl(332, 51%, 32%);
}

.point::marker {
  font-weight: bold;
}

li {
  padding-left: 20px;
}

li + li {
  margin-top: 0.5rem;
}

.nutrient-table {
  margin-top: 2rem;
}
.nutrient-row .nutrient {
  margin-left: 5rem;
}

.nutrient-row .value {
  float: right;
  margin-right: 20rem;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
